<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <!-- Fixed navbar -->
    <canvas id="gameCanvas" width="640" height="640" style="display: block;
    margin: 0 auto; border:1px solid #000000"></canvas>


    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>window.userID = "<%= assigns[:user_id] %>"</script>
  </body>
</html>
